body
{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
	width: auto !important;
	margin: auto;
	min-width: 760px;
	max-width: 1024px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	padding-top: 15px;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
	text-align: center;
}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
	
}

#topbar
{
	background-color: #128870;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
}

#topbarL
{
	float: left;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	border-right: 2px dotted #cccccc;
}

#topbarR
{
	float: left;
	padding: 20px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 25px;
	text-align: justify;
}

#sidebar
{
	float: left;
	width: 148px;
	min-height: 620px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
}

#content
{
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

#regulamin
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
}

#logo-text
{
	
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.optionL
{
	font-size:18px;
	height: 25px;
	padding: 10px;
}

.optionL:hover
{
	background-color: #303030;
	color: white;
	cursor: pointer;
	height: 23px;
	padding-bottom: 10px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}

.sidebar-link a
{
	color: black;
}

.menu-link a
{
	color: white;
}

a
{
	text-decoration: none;
}

.smalltitle
{
	font-size: 20px;
}